<div class="header__nav">
    <nav class="header__nav-menu">
        <a class="header__nav-link" href="http://localhost:8080/">page1</a>
        <a class="header__nav-link" href="http://localhost:8080/page2">page2</a>
        <a class="header__nav-link" href="http://localhost:8080/page3">page3</a>
    </nav>
</div>