<%- include ("partial/header.ejs") %>

<%- include ("partial/nav.ejs") %>
</header>

    <main>
        <div class="main">
            <section class="main__section">
                <article class="main__section-article">
                    <h2 class="main__section-article-title">Page n°2</h2>
                    <p class="main__section-article-para">La page numero 2</p>
                    <a class="main__section-article-link" href="http://localhost:8080/page2">page2</a>
                </article>
                <article class="main__section-article">
                    <h2 class="main__section-article-title">Page n°3</h2>
                    <p class="main__section-article-para">La page numero 3</p>
                    <a class="main__section-article-link" href="http://localhost:8080/page3">page3</a>
                </article>
            </section>
        </div>
    </main>

<%- include ("partial/footer.ejs") %>